:root {
    --main-color: #000000;
    --secondary-color: #150050;
    --accent-color: #3F0071;
    --highlight-color: #610094;
    --lowlight-color: lightgrey;
    --text-color: #ffffff;
}
html {
    background-color: var(--main-color);
}
body {
    background-color: var(--secondary-color);
    color: var(--text-color);
    border-radius: 3.0rem;
    padding: 1.5rem;
}
a {
    color: var(--text-color);
    text-decoration: underline;
}
a:hover {
    color: var(--lowlight-color);
}
.subtext {
    font-size: 0.8em;
    color: var(--lowlight-color);
}